<a href="https://colab.research.google.com/github/LatiefDataVisionary/coding-and-machine-learning-college-task/blob/main/make_data_real_estate_price_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import numpy as np

# Set seed untuk reproducibility
np.random.seed(42)

# Jumlah data baru yang ingin dibuat
n_data = 1000

# Membuat data baru berdasarkan rentang min, max, dan average
data = {
    'No': np.arange(1, n_data + 1),
    'X1 transaction date': np.round(np.random.uniform(2012.667, 2013.583, n_data), 2),
    'X2 house age': np.round(np.random.uniform(0, 43.800, n_data), 2),
    'X3 distance to the nearest MRT station': np.round(np.random.uniform(23.383, 6488.021, n_data), 2),
    'X4 number of convenience stores': np.round(np.random.randint(0, 11, n_data), 2),  # 0 sampai 10
    'X5 latitude': np.round(np.random.uniform(24.932, 25.015, n_data), 2),
    'X6 longitude': np.round(np.random.uniform(121.474, 121.566, n_data), 2),
    'Y house price of unit area': np.round(np.random.uniform(7.600, 117.500, n_data), 2)  # Target variabel (opsional)
}

# Membuat DataFrame dari data baru
df_new = pd.DataFrame(data)

# Menampilkan dataset baru
print("Dataset Baru:")
print(df_new)

# Simpan dataset baru ke file CSV (opsional)
df_new.to_csv('new_real_estate_data.csv', index=False)

Dataset Baru:
       No  X1 transaction date  X2 house age  \
0       1              2013.01          8.11
1       2              2013.54         23.74
2       3              2013.34         38.24
3       4              2013.22         32.07
4       5              2012.81         35.33
..    ...                  ...           ...
995   996              2012.75         28.77
996   997              2013.51         41.90
997   998              2012.79          3.02
998   999              2013.54          2.50
999  1000              2013.08         12.36

     X3 distance to the nearest MRT station  X4 number of convenience stores  \
0                                   1715.22                                2
1                                   1620.01                                8
2                                   5881.99                                4
3                                   1636.61                                7
4                                   1781.44                                6
..                                      ...                              ...
995                                 5617.21                                9
996                                 1040.10                                3
997                                 2026.05                                7
998                                 1898.42                                9
999                                 5656.76                                2

     X5 latitude  X6 longitude  Y house price of unit area
0          25.01        121.54                      105.52
1          25.00        121.48                       70.19
2          24.99        121.48                       99.08
3          24.94        121.57                      116.58
4          24.93        121.50                       25.58
..           ...           ...                         ...
995        24.94        121.54                       69.49
996        24.97        121.53                      111.32
997        24.96        121.50                        8.02
998        24.96        121.48                       33.77
999        24.98        121.52                      110.74

[1000 rows x 8 columns]